name: Housekeeping
on:
  push:
    branches:
      - main

jobs:
  generate-version-pr:
    name: Generate Version PR
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Install Dependencies
        run: npm ci

      - name: Turn off pre-commit hooks
        run: git config --local core.hooksPath ""

      - name: Generate Version PR
        run: npx -y tsx src/tools/bin/generate-version-pr.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    name: Publish Package and Auto Tag
    runs-on: ubuntu-22.04
    needs: generate-version-pr
    permissions:
      id-token: write # Required for OIDC
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'

      - name: Update npm
        run: npm install -g npm@latest

      - name: Install Dependencies
        run: npm ci

      - name: Get the version and create a tag/publish if it doesn't exist
        run: |
          VERSION=$(npm run --silent print-version)
          if git tag -l "v$VERSION" | grep -q .; then
            echo "Tag v$VERSION already exists"
          else
            echo "Tag v$VERSION does not exist"

            # Build the package and publish it
            npm run local:dist
            cd local-package && npm publish

            # Push the tag to the remote repository
            git tag "v$VERSION"
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git push origin "v$VERSION"
          fi
